In [ ]:
In simple answer, no. Because, so far, there is no technology that can minimize two layers and three nodes.
In order to create a neural networka that has XOR values, then we need to separately store 'AND' and 'OR'.
To do so, we need two nodes to be able to perform such action. I have researched and looked through, but so far
there is not way to store both 'AND' and 'OR'.

In [7]:
from keras.datasets import boston_housing
import pandas as pd
boston_df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")
boston_df.describe() #Looking at the data

Using TensorFlow backend.

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
#a) Compute the dimensions of the data structures. Include code to print these values.

#Generating the dimension of the data with training and testing data
(traindata, trainlabel), (testingdata, testinglabel) = boston_housing.load_data()

print('traindata:', traindata.shape)
print('trainlabel:', trainlabel.shape)
print('testingdata:', testingdata.shape)
print('testinglabel:', testinglabel.shape)

traindata: (404, 13)
trainlabel: (404,)
testingdata: (102, 13)
testinglabel: (102,)

In [14]:
#b) Construct a suitable testing set, training set, and validation set for this data. 
#   Submit code to create these datasets but do not include the datasets themselves.
    

#Generating validation data
validationdata = testingdata[:51]
validationlabel = testingdata[:51]
traindata = testingdata[:102]
trainlabel = testingdata[:102]

print('validationdata:', validationdata.shape)
print('validationlabel:', validationlabel.shape)

validationdata: (51, 13)
validationlabel: (51, 13)

In [18]:
#c) Create one new synthetic feature that could be useful for machine learning in this domain. 
#   Explain what it is and why it might be useful, and submit code to add it to the dataset.
boston_df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")
boston_df['Minority'] = boston_df['b'] / boston_df['lstat']

boston_df.head()

'''
For this particular synthetic, I wanted to investigate 
the approximate number of low status of African American per town.
Each town, assuming there are 1000 people, about 400 of them are African American.
Among those approximate 400 African Americans, about 40~134 have low status, which is about
anywhere from 10% to 33%.
'''

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,Minority
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,79.698795
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,43.424508
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,97.476427
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,134.227891
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,74.465291